
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: var();
    color: white;
}

div {
    overflow: hidden;
    display: block;
    height: 100%;
    position: relative;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;

}

.background {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    width: auto;
    height: 100%;
    display: block;
}

.coinLogo {
    border-radius: 50px;
    position: absolute;
    top: 4%;
    right: 5%;
    width: 30px;
    height: 30px;
    display: block;
}

#counter {
    position: absolute;
    top: 4.5%;
    right: 10%;
    font-size: 3ch;
    width: 50px;
    height: 30px;
    display: block;
    color: black;
}

#fish {
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
    animation-name: animInc;
    animation-duration: 2s;  
}

@keyframes animInc {
    from {top: 35%; color: rgb(0, 0, 0); opacity: 100;}
    to {top: 15%; color: rgb(205, 204, 221); opacity: 0;}
  }

#username{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 150px;
    height: 30px;
    color: black;
}

.float{
    border-radius: 60px;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 120px;
    height: 120px;
}

.rod{
    border-radius: 60px;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 120px;
    height: 120px;
    opacity: 1;
}

#catch{
    border-radius: 60px;
    position: absolute;
    bottom: 10%;
    left: 45%;
    width: 120px;
    height: 30px;
}

